@import "../../scss/variables";
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    .page-number {
        margin: 0 5px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        background: $orange;
        color: #fff;
    }
    .active{
        transform: scale(1.2);
    }
    
    .arrow {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s;
        background: $orange;
        border-radius: 100%;
        border: none;
        outline: none;
        color: $gray-line;
        font-size: 18px;
    }

    .orange {
        background-color: $orange;
        color: white;
        border-color: orange;
    }
}